<% include ./partials/header %> 

<h1>Help.io</h1>
<h3>Dashboard</h3>

<form>
    <input type="text" placeholder="Search...">
    <button><i class="fas fa-search"></i></button>
</form>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ID#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
      <a href="/user">
    <tr>
      <th scope="row">1</th>
      <a href="https://www.google.com/"><td>Santiago Aguilar</td></a>
      <td>santi@email.com</td>
      <td>905 123 4567</td>
    </tr>
      </a>
    
   <a href="/user">
    <tr>
      <th scope="row">2</th>
      <td>Santiago Aguilar</td>
      <td>santi@email.com</td>
      <td>905 123 4567</td>
    </tr>
      </a>
      
    <a href="/user">
    <tr>
      <th scope="row">3</th>
      <td>Santiago Aguilar</td>
      <td>santi@email.com</td>
      <td>905 123 4567</td>
    </tr>
      </a>
    
  </tbody>
</table>



<% include ./partials/footer %> 
